@import url(./bootstrap.css);
.navbar-nav {
    margin-left: 90vh;
    
}
.nav-item{
    margin-left: 5vh;
}
.nav-item a:hover{
    color: green !important;
}
span{
    color: green;
}
#hero{
    background-image: url(images/bannar.jpg) ;
    height: 90vh;
}
.hero-content{
   margin-left: 20vh;
}
.logo{
    display: flex;
}
.logo .d-flex{
    height: 5vh;
    margin-top: 8vh;
    width: 80vh;
}
.logo .form-control{
    border: 1px solid green;
}

.logo img{
    width: 20vh;
    margin-left: 40vh;   
    
}
.welcome{
    background-color: green;
    color: white;
    height: 6vh;
}
.welcome span{
    color: crimson;
}
.welcome h1{
    margin-left: 50vh;
}
.left{
    margin-left: 20vh;
    margin-top: 10vh; 
}
.left h4{
    font-size: 3vh;
    color: green;
    margin-bottom: 3vh;
}
.left h2{
    font-size: 5vh;
    margin-bottom: 3vh;
}

.left h1{
    color: crimson;
    margin-bottom: 3vh;
}
.left p{
    font-size: 3vh;
}
.left .btn{
    border: 1px solid green;
    font-size: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: yellow;
    margin-top: 3vh;
}
.left .btn:hover{
    background-color: green;
    color: white;
}
.list{
    margin-top: 5vh;

}
.list h3{
    font-size: 4vh;
    color: green;
    margin-bottom: 3vh;   
    margin-left: 25vh; 
}
.list .items li a{
    text-decoration: none;
    color: black;
    font-size: 2vh;
    
}
.list .items li{
    border: 1px solid green;
    height: 6vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
    list-style: none;
    text-align: center;
    margin-right: 7vh;
    padding-top: 1vh;
    background-color: rgb(225, 236, 225);
    

}
.list .items li:hover{
    background-color: green;
    color: white;
}
.list .items li a:hover{
    color: white;
}


















/* media querry */
@media (max-width:280px){
    .logo img {
        width: 20vh;
        margin-left: .2vh;
    }
    .welcome h1 {
        margin-left: 1vh;
        font-size: 1.8vh;
        padding-top: 2vh;
    }
    .left{
        margin-left: 8vh;
        margin-top: 2vh;
    }
    .left h4 , .left h2 , .left h1{
        font-size: 2.2vh;
        margin-bottom: 1vh;
    }
    .left p{
        font-size: 1vh;
    }
    .left .btn{
        margin-top: 1vh;
    }
    .list h3 {
        font-size: 4vh;
        color: green;
        margin-bottom: 3vh;
        margin-left: 10vh;
    }
}



@media (max-width:360px){
    .logo img {
        width: 20vh;
        margin-left: .4vh;
    }
    .welcome h1 {
        margin-left: 1vh;
        font-size: 1.8vh;
        padding-top: 2vh;
    }
    .left{
        margin-left: 8vh;
        margin-top: 2vh;
    }
    .left h4 , .left h2 , .left h1{
        font-size: 2.2vh;
        margin-bottom: 1vh;
    }
    .left p{
        font-size: 1vh;
    }
    .left .btn{
        margin-top: 1vh;
    }
    .list h3 {
        font-size: 4vh;
        color: green;
        margin-bottom: 3vh;
        margin-left: 10vh;
    }
}


@media (max-width:412px){
    .logo img {
        width: 20vh;
        margin-left: .4vh;
    }
    .welcome h1 {
        margin-left: 1vh;
        font-size: 1.8vh;
        padding-top: 2vh;
    }
    .left{
        margin-left: 8vh;
        margin-top: 2vh;
    }
    .left h4 , .left h2 , .left h1{
        font-size: 2.2vh;
        margin-bottom: 1vh;
    }
    .left p{
        font-size: 1vh;
    }
    .left .btn{
        margin-top: 1vh;
    }
    .list h3 {
        font-size: 4vh;
        color: green;
        margin-bottom: 3vh;
        margin-left: 10vh;
    }
}

@media (max-width:430px){
    .logo img {
        width: 20vh;
        margin-left: .4vh;
    }
   
    .welcome h1 {
        margin-left: 1vh;
        font-size: 1.8vh;
        padding-top: 1.8vh;
    }
    .left{
        margin-left: 8vh;
        margin-top: 2vh;
    }
    .left h4 , .left h2 , .left h1{
        font-size: 2.2vh;
        margin-bottom: 1vh;
    }
    .left p{
        font-size: 1vh;
    }
    .left .btn{
        margin-top: 1vh;
    }
    .list h3 {
        font-size: 4vh;
        color: green;
        margin-bottom: 3vh;
        margin-left: 10vh;
    }

}
@media (width:820px){
    .logo img {
        width: 20vh;
        margin-left: .4vh;
    }
   
    .welcome h1 {
        margin-left: 7vh;
        font-size: 2.5vh;
        padding-top: 1.8vh;
    }
    .left{
        margin-left: 8vh;
        margin-top: 2vh;
    }
    .left h4 , .left h2 , .left h1{
        font-size: 3.5vh;
        margin-bottom: 1vh;
    }
    .left p{
        font-size: 1.7vh;
    }
    .left .btn{
        margin-top: 1vh;
    }
    .list h3 {
        font-size: 4vh;
        color: green;
        margin-bottom: 3vh;
        margin-left: 18vh;
    }

}
@media (width:853px){
    .logo img {
        width: 20vh;
        margin-left: .4vh;
    }
   
    .welcome h1 {
        margin-left: 7vh;
        font-size: 2.5vh;
        padding-top: 1.8vh;
    }
    .left{
        margin-left: 8vh;
        margin-top: 2vh;
    }
    .left h4 , .left h2 , .left h1{
        font-size: 3.5vh;
        margin-bottom: 1vh;
    }
    .left p{
        font-size: 1.7vh;
    }
    .left .btn{
        margin-top: 1vh;
    }
    .list h3 {
        font-size: 4vh;
        color: green;
        margin-bottom: 3vh;
        margin-left: 18vh;
    }

}

@media (width:1024px){
    .logo img {
        width: 20vh;
        margin-left: .4vh;
    }
   
    .welcome h1 {
        margin-left: 7vh;
        font-size: 2.5vh;
        padding-top: 1.8vh;
    }
    .left{
        margin-left: 8vh;
        margin-top: 2vh;
    }
    .left h4 , .left h2 , .left h1{
        font-size: 3.5vh;
        margin-bottom: 1vh;
    }
    .left p{
        font-size: 1.7vh;
    }
    .left .btn{
        margin-top: 1vh;
    }
    .list h3 {
        font-size: 4vh;
        color: green;
        margin-bottom: 3vh;
        margin-left: 18vh;
    }

}


/* media querry */